/* .playlist-button {
    flex-flow: wrap;
    margin: auto;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-success, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background: #1cd762;
    outline-width: 0;
    color: white;
    border: 2px solid #1cd762;
    border-color: #1cd762;
    border-radius: 3px;
    padding: 5px 10px;
    text-transform: uppercase;
}

.playlist-btn-active {
    background: #1cd762;
    outline-width: 0;
    color: white;
    border: 2px solid #1cd762;
    border-color: #1cd762;
    border-radius: 3px;
    padding: 5px 10px;
    text-transform: uppercase;
}

.playlist-btn-inactive {
    background: black;
    outline-width: 0;
    color: white;
    border: 2px;
    border-color:  #1cd762;;
    border-radius: 3px;
    padding: 5px 10px;
    text-transform: uppercase;
} */
